name: nepali_date_picker
description: Material Style Date Picker with Bikram Sambat(Nepali) Calendar Support. Supports both Android and ios. Available in Nepali and English Languages.
version: 1.2.1
author: Sarbagya Dhaubanjar <mail@sarbagyastha.com.np>
homepage: https://github.com/sarbagyastha/nepali_date_picker

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: